* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    border-collapse: collapse;
}

body {
    width: 100%;
    height: 100%;
    background-image: url("./src/hatter.png");
    margin: 0 auto;
}

.top, .mid, .bot{
    display: flex;
    flex: wrap;
    width: 100%;
    justify-content: space-between;
}

.score{
    display: flex;
    flex: wrap;
    justify-content: space-between;
}


section{
    width: 75%;
    background-color: black;
    padding: 5em;
    margin: 5% auto 0;
    border: 2px solid yellow;
    border-radius: 5em;
}

.text-div{
    padding: 1em;
    border: 3px solid yellow;
    width: 25%;
    height: 10%;
    text-align: center;
    font-size: 20pt;
}

.frame{
    padding: 0;
    width: 15.85em;
    height: 15.85em;
    border: 0.5px solid white;
}

.frame>img{
    text-align: center;
    margin: 0;
}

#botPlayer{
    margin-left: 8%;
}

.mid{
    margin-top: 3.25%;
    margin-bottom: 1.625%;
}

.bot{
    border-top: 1px solid red;
    padding-top: 1.625%;
}

.playButton{
    border: 3pt solid white;
}

#rock{  
    margin-left: 7%;
}

#scissors{
    margin-right: 7%;
}

#frameLeft{
    margin-left: 4%;
}

#frameRight{
    margin-right: 4%;
}

#scorePlayer, #scoreBot{        
    border: 3px solid yellow;
    padding: 1% 20% 1% 20%;
    font-size: 72pt;
}

.vs{
    font-size: 120pt;
    font-weight: bold;
}

.popup{
    width: 400px;
    background: darkorange;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    color: black;
}

.popup img{
    width: 100;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2{
    font-size: 38px;
    font-weight: bold;
    text-decoration: underline;
    margin: 30px 0 10px;
    color: black;
}

.popup p{
    font-size: 30px;
    color: black;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: black;
    color: darkorange;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}